@import './assets/global.scss';
body {
    background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    min-height: 100vh;
    margin: 0;
    padding: 0
}

.text-white {
    color: #fff;
}

.card {
    margin-top: 20px;
    position: relative;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart-button {
    position: absolute !important;
    bottom: 4%;
    right: 35%;
}

.css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root {
    position: unset !important;
}